# =============================================================================
# PRODUCTION OVERRIDES (compared to dev)
# =============================================================================
    # Production docker images (Used only by docker-compose.prod.yml)
    # POSTGRES_IMAGE=freennnn/nodejs2025q2-service-postgres:latest
    # APP_IMAGE=freennnn/nodejs2025q2-service-app:latest

    # NODE_ENV=production
    # POSTGRES_USER=secure-production-user
    # POSTGRES_PASSWORD=your_secure_production_password
    # POSTGRES_DB=home-library-prod
    # DATABASE_URL=derived from valued above
    # NETWORK_NAME=home-library-network-prod
    # POSTGRES_CONTAINER_NAME=home-library-postgres-prod  
    # APP_CONTAINER_NAME=home-library-app-prod

# Postgress db initialization values for Docker (these values also should be used if db is created manually on local machine)
    POSTGRES_DB=home-library-prod
    POSTGRES_USER=postgres
    POSTGRES_PASSWORD=postgres

# Application 
    NODE_ENV=production
    PORT=4000
    # Database connection string - constructed from variables above, but manually, as interpolation (in Prisma config) won't work
    # Pattern: DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@{HOST}:5432/${POSTGRES_DB}?schema=public
    # HOST === 'localhost' for local db or name of postgres service ('postgres', set in docker-compose.yml files)
    DATABASE_URL=postgresql://posgtres:postgres@localhost:5432/home-library?schema=public

    CRYPT_SALT=10
    JWT_SECRET_KEY=secret123123
    JWT_SECRET_REFRESH_KEY=secret123123
    TOKEN_EXPIRE_TIME=30m
    TOKEN_REFRESH_EXPIRE_TIME=24h

# Docker compose configuration
    POSTGRES_CONTAINER_NAME=home-library-postgres-prod
    APP_CONTAINER_NAME=home-library-app-prod
    NETWORK_NAME=home-library-network-prod
    POSTGRES_PORT=5432
    POSTGRES_IMAGE=freennnn/nodejs2025q2-service-postgres:latest
    APP_IMAGE=freennnn/nodejs2025q2-service-app:latest

LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_MAX_FILE_SIZE=2048